<div class="resume-entry">
    <div class="resume-entry-header">
        <!-- What the resume entry is about (degree program, work, etc.) -->
        {{ with .Get "what" }}
        <span class="what">{{ . }}</span>
        {{ end }}

        {{ $where := .Get "where" }}
        {{ $when := .Get "when" }}

        {{ if or $where $when }}
        <span class="resume-entry-data">
            {{ with $where }}
            <span class="where">{{ . }}</span>
            {{ end }}
            {{ if and $where $when }}
            <span class="separator">|</span>
            {{ end }}
            {{ with $when }}
            <span class="when">{{ . }}</span>
            {{ end }}
        </span>
        {{ end }}
    </div>

    {{/* additional HTML under or as the entry */}}
    {{ if gt (len .Inner) 0 }}
    <div class="resume-inner">
        {{ .Inner }}
    </div>
    {{ end }}
</div>
